<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, 'Όνομα' %><br>
    <%= f.text_field :first_name, class: "col-sm-12 form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, 'Επώνυμο' %><br>
    <%= f.text_field :last_name, class: "col-sm-12 form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :telephone, 'Τηλέφωνο' %><br>
    <%= f.text_field :telephone, class: "col-sm-12 form-control" %>
  </div>

  <div class="actions">
    <%= f.submit 'Αποθήκευση', class: "col-sm-12 col-md-4 col-md-offset-4 btn btn-primary" %>
  </div>
<% end %>
