<div class="col-md-8 col-md-offset-2">
  <p id="notice"><%= notice %></p>

  <%= link_to 'Νέος Ασθενής', new_client_path, class: "btn btn-primary" %>

  <h1 class="centered">Όλοι οι ασθενείς</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Όνομα</th>
        <th>Επώνυμο</th>
        <th>Τηλέφωνο</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.first_name %></td>
          <td><%= client.last_name %></td>
          <td><%= client.telephone %></td>
          <td><%= link_to 'Επεξεργασία', edit_client_path(client), class: "btn btn-warning" %></td>
          <td><%= link_to 'Προηγούμενα ραντεβού', all_appointments_path(client), class: "btn btn-warning" %></td>
          <td><%= link_to 'Διαγραφή', client, method: :delete,  class: "btn btn-danger", data: { confirm: 'Προσοχή! Θέλετε να διαγράψετε τον ασθενή και όλα τα ραντεβού του;' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>