<p id="notice"><%= notice %></p>

<h1>Όλοι οι ασθενείς</h1>

<table>
  <thead>
    <tr>
      <th>Όνομα</th>
      <th>Επώνυμο</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.first_name %></td>
        <td><%= client.last_name %></td>
        <td><%= link_to 'Εμφάνιση', client %></td>
        <td><%= link_to 'Επεξεργασία', edit_client_path(client) %></td>
        <td><%= link_to 'Διαγραφή', client, method: :delete, data: { confirm: 'Προσοχή! Θα διαγράψετε τον ασθενή και όλα τα ραντεβού του.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Νέος Ασθενής', new_client_path %>
