<p id="notice"><%= notice %></p>

<p>
  <strong>Όνομα:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Επώνυμο:</strong>
  <%= @client.last_name %>
</p>

<%= link_to 'Επεξεργασία', edit_client_path(@client) %> |
<%= link_to 'Όλοι οι ασθενείς', clients_path %>
