<p id="notice"><%= notice %></p>

<h1>Προβολή ασθενή</h1>

<p>
  <strong>Όνομα:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Επώνυμο:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Τηλέφωνο:</strong>
  <%= @client.telephone %>
</p>
<%= link_to 'Προηγούμενα ραντεβού', all_appointments_path(@client) %> | 
<%= link_to 'Επεξεργασία', edit_client_path(@client) %>