<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :client_id, 'Ονοματεπώνυμο' %><br>
    <%= f.collection_select :client_id, Client.order(:full_name), :id, :full_name, { prompt: "Επιλογή Ασθενή", selected: params[:id]}, {class: "col-sm-12 form-control" } %>
    <% if @appointment.new_record? %>
      <p class="new_client col-sm-12">(Δεν υπάρχει στη λίστα; <%= link_to 'Δημιουργία νέου ασθενή', new_client_path, class: "link" %>)</p>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :date, 'Ημερομηνία' %><br>
      <div class='input-group date' id='sandbox-container' >
        <%= f.text_field :date, class: "form-control"  %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
  </div>

  <div class="form-group">
    <%= f.label :areas, 'Περιοχή' %><br>
    <%= f.fields_for :areas do |areas| %>
      <%= areas.collection_check_boxes(:id, Area.all, :id, :name) do |b| %>
        <%= b.label(class: "areas_labels") { b.check_box(class: "areas_checkboxes") + b.text } %>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :price, 'Τιμή' %><br>
    <%= f.text_field :price, class: "col-sm-12 form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :notes, 'Σημειώσεις' %><br>
    <%= f.text_area :notes, class: "col-sm-12 form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Αποθήκευση', class: "col-sm-12 col-md-4 col-md-offset-4 btn btn-primary" %>
  </div>
<% end %>
