<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id, 'Ονοματεπώνυμο' %><br>
    <%= f.collection_select :client_id, Client.order(:last_name), :id, :last_name, { prompt: "Επιλογή Ασθενή", selected: params[:id]}, {class: "col-sm-12 form-control" } %>
    <p class="new_client col-sm-12">(Δεν υπάρχει στη λίστα; <%= link_to 'Δημιουργία νέου ασθενή', new_client_path, class: "link" if @appointment.new_record? %>)</p>
  </div>


  <div class="field">
    <%= f.label :date, 'Ημερομηνία' %><br>
    <%= select_date Date.today, prefix: :date %>
  </div>
  <div class="field">
    <%= f.label :area_id, 'Περιοχή' %><br>
    <%= f.collection_select :area_id, Area.order(:name),:id,:name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :price, 'Τιμή' %><br>
    <%= f.text_field :price, class: "col-sm-12" %>
  </div>
  <div class="actions">
    <%= f.submit 'Αποθήκευση', class: "col-sm-12 col-md-4 col-md-offset-4 btn btn-primary" %>
  </div>
<% end %>
