<div class="col-md-8 col-md-offset-2">
  <p id="notice"><%= notice %></p>

  <%= link_to 'Νέο ραντεβού', new_appointment_path(id: params[:id]), class: "btn btn-primary" %>

  <h1 class="centered">Προηγούμενα ραντεβού ασθενή</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Ονοματεπώνυμο</th>
        <th>Ημερομηνία</th>
        <th>Σημείο</th>
        <th>Τιμή</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <td><%= link_to appointment.client.full_name, client_path(appointment.client), class: "link" %></td>
          <td><%= appointment.date %></td>
          <td><%= appointment.try(:area).try(:name) %></td>        
          <td><%= appointment.price %></td>
          <td><%= link_to 'Επεξεργασία', edit_appointment_path(appointment), class: "btn btn-warning" %></td>
          <td><%= link_to 'Διαγραφή', appointment, method: :delete,  class: "btn btn-danger", data: { confirm: 'Προσοχή! Θέλετε να διαγράψετε το ραντεβού;' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>