<p id="notice"><%= notice %></p>

<h1>Όλα τα ραντεβού</h1>

<table>
  <thead>
    <tr>
      <th>Ονοματεπώνυμο</th>
      <th>Ημερομηνία</th>
      <th>Σημείο</th>
      <th>Τιμή</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.client.last_name %></td>
        <td><%= appointment.date %></td>
        <td><%= appointment.area.name %></td>        
        <td><%= appointment.price %></td>
        <td><%= link_to 'Εμφάνιση', appointment %></td>
        <td><%= link_to 'Επεξεργασία', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Διαγραφή', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Νέο ραντεβού', new_appointment_path %>
