<p id="notice"><%= notice %></p>

<h1>Προηγούμενα ραντεβού ασθενή</h1>

<table>
  <thead>
    <tr>
      <th>Ονοματεπώνυμο</th>
      <th>Ημερομηνία</th>
      <th>Σημείο</th>
      <th>Τιμή</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= link_to appointment.client.last_name, client_path(appointment.client)%></td>
        <td><%= appointment.date %></td>
        <td><%= appointment.area.name %></td>        
        <td><%= appointment.price %></td>
        <td><%= link_to 'Επεξεργασία', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Διαγραφή', appointment, method: :delete, data: { confirm: 'Προσοχή! Θέλετε να διαγράψετε το ραντεβού;' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Νέο ραντεβού', new_appointment_path(id: @appointments.first.client) %>
