<div class="col-md-10 col-md-offset-1">
  <p id="notice"><%= notice %></p>

  <%= link_to 'Νέο ραντεβού', new_appointment_path, class: "btn btn-primary" %>

  <h1 class="centered">Όλα τα ραντεβού</h1>

  <div class="form-group col-md-4 row">
    <label for="search col-md-4">Αναζήτηση: </label>
    <input type="search" class="light-table-filter form-control col-md-8" data-table="order-table" data-table-columns="0,2" placeholder="Όνομα">
  </div>

  <table class="order-table table table-striped table-bordered">
    <thead>
      <tr>
        <th>Ονοματεπώνυμο</th>
        <th>Ημερομηνία</th>
        <th>Σημεία</th>
        <th>Τιμή</th>
        <th>Σημειώσεις</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <td><%= link_to appointment.client.full_name, client_path(appointment.client), class: "link" %></td>
          <td><%= appointment.date %></td>
          <td><%= appointment.try(:areas).map(&:name).join(", ") %></td>        
          <td><%= appointment.price %></td>
          <td><%= appointment.notes %></td>
          <td><%= link_to 'Επεξεργασία', edit_appointment_path(appointment), class: "btn btn-warning" %></td>
          <td><%= link_to 'Διαγραφή', appointment, method: :delete,  class: "btn btn-danger", data: { confirm: 'Προσοχή! Θέλετε να διαγράψετε το ραντεβού;' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>