<p id="notice"><%= notice %></p>

<p>
  <strong>Ονοματεπώνυμο:</strong>
  <%= @appointment.client.last_name %>
</p>
<p>
  <strong>Ημερομηνία:</strong>
  <%= @appointment.date %>
</p>
<p>
  <strong>Σημείο:</strong>
  <%= @appointment.try(:area).try(:name) %>
</p>
<p>
  <strong>Τιμή:</strong>
  <%= @appointment.price %>
</p>

<%= link_to 'Επεξεργασία', edit_appointment_path(@appointment) %>